<br/>
<div>
	<a href="https://crates.io/crates/bitmap-font">
		<img alt="bitmap-font on crates.io" src="https://img.shields.io/crates/v/bitmap-font.svg"/>
	</a>
	<a href="https://docs.rs/bitmap-font">
		<img alt="bitmap-font on docs.rs" src="https://docs.rs/bitmap-font/badge.svg"/>
	</a>
	<a href="https://github.com/msrd0/bitmap-font/actions/workflows/rust.yml">
		<img alt="build status" src="https://github.com/msrd0/bitmap-font/actions/workflows/rust.yml/badge.svg"/>
	</a>
	<a href="https://msrd0.github.io/bitmap-font/tarpaulin-report.html">
		<img alt="coverage report" src="https://msrd0.github.io/bitmap-font/coverage.svg"/>
	</a>
	<a href="https://msrd0.github.io/bitmap-font/doc/bitmap_font/index.html">
		<img alt="bitmap-font main branch documentation" src="https://img.shields.io/badge/docs-main-blue.svg"/>
	</a>
	<a href="https://blog.rust-lang.org/2022/05/19/Rust-1.61.0.html">
		<img alt="Rust 1.61+" src="https://img.shields.io/badge/rustc-1.61+-orange.svg"/>
	</a>
	<a href="https://deps.rs/repo/github/msrd0/bitmap-font">
		<img alt="dependency report" src="https://deps.rs/repo/github/msrd0/bitmap-font/status.svg"/>
	</a>
</div>
<br/>

# bitmap-font

{{readme}}

## Development

Basically, all you need is Rust. However, we utilize a nightly version of rustfmt for code style, so it is recommended
you use rustup to install Rust so you can install a stable and nightly version alongside each other. The stable version
can be the one shipped with your linux distribution if recent enough, or downloaded using rustup as well.

To locally check that you meet the code style, you can use the provided git pre-commit hook, like this:

```bash
git config core.hooksPath .githooks
```

## MSRV Policy

This crate is guaranteed to always build with the latest stable rust version. MSRV is documented; however, for your
information only. Changing the MSRV can be done at any point in time and is not considered a breaking change.

## License (Source Code)

Copyright (C) 2021-2022 Dominic Meiser and [contributors].

```
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
```

## License (Bitmap Font)

This license applies to the raw bitmap font data included in this crate.

```
Copyright 2011 Suraj N. Kurapati <https://github.com/sunaku/tamzen-font>

Tamzen font is free.  You are hereby granted permission to use, copy, modify,
and distribute it as you see fit.

Tamzen font is provided "as is" without any express or implied warranty.

The author makes no representations about the suitability of this font for
a particular purpose.

In no event will the author be held liable for damages arising from the use
of this font.
```

 [contributors]: https://github.com/msrd0/bitmap-font/graphs/contributors
{{ links }}
